Flask
Flask-SQLAlchemy
Flask-Migrate
Flask-Mail
gunicorn
PyMySQL
bcrypt
itsdangerous
cryptography
python-dotenv
flask-cors
flask_jwt_extended
email_validator
Flask-APScheduler
requests
exponent_server_sdk